@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
body{

    font-family: 'Old Standard TT', serif;
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Abril Fatface', cursive;
}


.navbar-inverse{
    background: #000;
}

.navbar {
    font-size: 15px;
    font-weight: 100;
}

pre{
    background-color: transparent;
    border:0;
    border-left: 2px solid #000;
}


code{
    background-color: #000;
    color:#fff;
    font-size: 15px;
}